.app {
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-between;
}

.episodes {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.characters {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character-grid img {
  width: 100px;
  height: 100px;
  margin: 10px;
}
